<%- include('header') -%>
<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>

<div class="box">
  <% for(var loop = 0; loop < newItem.length; loop++){ %>
  <div class="item">
    <input type="checkbox">
    <p><%= newItem[loop] %></p>
  </div>
  <% } %>
  <form action="/" method="post" class="item" autocomplete="off">
  <input name="newItem" type="text" placeholder="New Item">
  <!--BUTTON -->
  <button type="submit" name="list" value=<%= listTitle %>>+</button>
</form>
</div>

<%- include('footer') -%>
